.todo{
  background-color: navy;
  padding-top: 150px;
  height: 550px;
}

.todo__list {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;

}

.todo__ttl {
  font-size: 30px;
  margin: 20px 0;
  font-weight: bold;

}

.create {
  width: 80%;
 padding: 10px 0;
}

.create__btn {
  margin-left: 30px;
  padding: 10px 15px;
  border: 1px solid rgb(246, 52, 191);
  background-color: white;
  color: rgb(245, 64, 194);
  font-weight: bold;
  border-radius: 5px;
  margin-bottom:30px ;
}

th,td{
  width:20%;
}

th{
  height: 50px;
}

td{
  text-align: center;
}

.content{
  width: 95%;
}

