body{
  background-color: navy !important;
}

.todo{
  padding-top: 150px;
}

.todo__list {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;

}

.todo__ttl {
  font-size: 30px;
  margin: 20px 0;
  font-weight: bold;

}

.todotable{
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.create {
  width: 80%;
 padding: 10px 0;
}

.create__btn {
  width: 10%;
  
  padding: 10px 15px;
  border: 2px solid rgb(246, 52, 191);
  background-color: white;
  color: rgb(245, 64, 194);
  font-weight: bold;
  border-radius: 5px;
  
}



th{
  height: 50px;
}

td{
  text-align: center;
}

.content{
  width: 95%;
  padding: 5px 0;
}




.update__btn{
  color:orange;
  background-color: white;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px 15px;
}

.delete__btn{
   color: aqua;
    background-color: white;
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 5px 15px;
}